.footer {
    background-color: #2c2c2c;
    color: white;
    padding: 40px 20px;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-container {
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-logo h3 {
    background-color: #2c2c2c;
    color: #fff;
    font-size: 24px;
    list-style: none;
    font-weight: bold;
  }
  
  .footer-links ul {
    background-color: #2c2c2c;
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    background-color: #2c2c2c;
    margin: 10px 0;
  }
  
  .footer-links ul li a {
    background-color: #2c2c2c;
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover {
    color: #007bff;
  }
  
  .footer-social {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-social .social-icon {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    background-color: #2c2c2c;
  }
  
  .footer-social .social-icon:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    background-color: #2c2c2c;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .footer-bottom p {
    background-color: #2c2c2c;
    color: #bbb;
    margin: 0;
  }

  .footer-logo{
    background-color: #2c2c2c;
  }
  
  .footer-links{
    background-color: #2c2c2c;
  }