.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.navbar-container {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  width: 100%;
}

.WebName {

  font-size: 2rem;
  font-weight: bold;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links ul li {
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #00bcd4;
}

.navbar-buttons .signin-btn,
.navbar-buttons .signup-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-buttons .signin-btn:hover,
.navbar-buttons .signup-btn:hover {
  background-color: white;
  color: #333;
}
