*{
  background-color: #f9f9f9;
}
.sign-in-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

 
h2 {
  text-align: center;
  margin-bottom: 20px;
}
/*
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button.signin-btn {
  width: 100%;
  padding: 10px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.signin-btn:hover {
  background-color: #0088cc;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
} */